[submodule "thanm/libpng"]
	path = extlib/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "thanm/zlib-ng"]
	path = extlib/zlib-ng
	url = https://github.com/Dead2/zlib-ng.git
[submodule "thtypes"]
	path = extlib/thtypes
	url = https://github.com/thpatch/thtypes
